*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/metadata.json
/metadata-[0-9]*.json
**/build/
*.apk
*.aab
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
keystore.jks
*.jks
